{% extends 'base_auth.html' %}

{% block content %}

<div class="container mt-4">
 
    <div class="card">
        <div class="card-body">
            <form action="{% url 'add_classroom' %}" method="post">
            {% include 'partials/_messages.html'%}
            {%csrf_token%}
                
                <div class="form-group">
                    <label for="">Title:</label>
                    <input type="text" name="title" class="form-control form-control-lg" value="{{values.title}}"/>
                </div>
                <div class="form-group">
                    <label for="">Description:</label>
                    <input type="text" name="description" class="form-control form-control-lg" value="{{values.description}}"/>
                </div>

                <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm"/>
            </form>

        </div>
    </div>

    
</div>


{% endblock %}