{% extends 'base_auth.html' %}
{% block content %}
{% include 'partials/_messages.html'%}

<div class="container mt-4">
    <article class="media content-section">
        
        <div class="media-body">
            <h2><a class="class-title" >{{classroom_details.title}}</a></h2>
            <p class="class-content">{{classroom_details.description}}</p>
        </div>

    </article>
    
    <form action="{% url 'class' classroom_details.id  %}" method="POST">
        {% csrf_token %}
        
        <input type="submit" value="Apply" class="btn btn-block btn-primary submit-btn" />

      </form>
</div>


{% endblock content %}
