{% extends 'base_auth.html' %}
{% block content %}
{% include 'partials/_messages.html'%}
<a class="class-details" href="/classroom/classroom_details">
    <input type="submit" value="Classroom Registered List" class="btn btn-block btn-primary submit-btn" />
</a>
{% for classroom_detail in classroom_details %}

<article class="media content-section">
    <div class="media-body">
        <h2><a class="class-title" href="/classroom/{{classroom_detail.id}}">{{classroom_detail.title}}</a></h2>
        <p class="class-description">{{classroom_detail.description}}</p>
    </div>

</article>
{% endfor%}
    

{% endblock content %}
